
.header h3 {
  padding-top: 12px;
  margin-bottom: 40px;  
}

.jumbotron {
  margin-top: 30px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

#showcase-intro {
  margin-bottom: 30px;
}

#showcase-body h3 {
  margin-top: 0px;
}

#nav-develop {
  margin-right: 65px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 100px;
}

input[type="search"]  { 
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 1px LightGray;
}


